body {
	margin: 0;

	font-family: "PT Sans", Arial, sans-serif; 
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;

	background-color: #f2f2f2;
}

.main-container {
	box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
	background-color: #ffffff;

	width: 1200px;
	margin-left: auto;
	margin-right: auto;

	position: relative;
}

a {
	text-decoration: none;
	color: #000000;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
	font-weight: 700;
	position: relative;
}

.main-logo {
	position: absolute;
	left: 50%;
	margin-left: -70px;
}

.site-navigation {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.site-navigation li {
	min-width: 239px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 0;
}

.site-navigation li:nth-child(3) {
	margin-left: 244px;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.current a {
	color: #766357;
}

.promo {
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: #4d3d3d;
	background-image: url("../img/background-photo.jpg");
	background-position: center -83px;
	background-repeat: no-repeat;
}

.promo-image {
	padding-top: 76px;
}

.promo-text {
	background-color: #ffffff;

	width: 100%;
	text-align: center;

	position: relative;
	margin-top: 79px;
}

.promo-text::before {
	content: "";

	width: 1200px;
	height: 59px;

	position: absolute;
	top: -59px;
	left: 0;

	background-image: url(../img/polygon.svg);
	background-position: bottom center;
	background-repeat: no-repeat;

}

.promo-text h2 {
	width: 450px;

	margin-left: auto;
	margin-right: auto;
	padding-top: 45px;
	padding-bottom: 8px;

	font-size: 21px;
	font-weight: 700;
}

.promo-text p {
	color: #333333;
	font-size: 14px;
	line-height: 26px;
	margin-bottom: 52px;
}

.first-feature {
	color: #ffffff;
	line-height: 21px;

	text-align: center;

	display: flex;

	background-color: #81b3d2;
}

.first-feature div {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
}

.first-feature h3 {
	font-size: 21px;
	font-weight: 700;

	margin-top: 47px;
}

.first-feature p {
	margin-top: 24px;
	width: 300px;

}

.features-list {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;

	display: flex;

	line-height: 21px;
}

.features-list li {
	width: 400px;
}

.features-list h3 {
	font-size: 21px;

	margin-top: 161px;
} 

.features-list p {
	color: #333333;
	width: 285px;

	margin-left: auto;
	margin-right: auto; 
}

.features-list li:first-child {
	background-image: url("../img/house-icon.svg");
	background-position: center 60px;
	background-repeat: no-repeat;
}

.features-list li:nth-child(2) {
	background-image: url("../img/food-icon.svg");
	background-position: center 60px;
	background-repeat: no-repeat;
}

.features-list li:last-child {
	background-image: url("../img/souvenir-icon.svg");
	background-position: center 60px;
	background-repeat: no-repeat;
}

.second-feature {
	color: #ffffff;
	line-height: 21px;
	text-align: center;
	margin-top: 70px;

	display: flex;
	flex-direction: row-reverse;

	background-color: #81b3d2;
}

.second-feature div {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
}

.second-feature h3 {
	font-size: 21px;
	font-weight: 700;

	margin-top: 47px;
}

.second-feature p {
	margin-top: 24px;
	width: 303px;
}

.other-features-list {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;

	display: flex;

	line-height: 21px;

	background-color: #eeeeee;
}

.other-features-list li {
	width: 400px;
}

.other-features-list h3 {
	font-size: 21px;

	margin-top: 46px;
	margin-left: auto;
	margin-right: auto;

	width: 100px;

}

.other-features-list p,
.other-features-list span {
	color: #333333;
}

.other-features-list p {
	width: 260px;

	margin: 25px auto 57px auto;
}

.reserve {
	display: flex;
	flex-direction: column;

	align-items: center;
	position: relative;
}

.reserve b {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;

	padding-top: 53px;
}

.reserve p {
	line-height: 24px;
	color: #333333;
	text-align: center;
	padding-top: 10px;
}

.button-drop {
	font-size: 21px;
	font-weight: 700;
	color: #ffffff;

	background-color: #766357;

	margin-top: 32px;
	padding: 30px 139px;

	text-align: center;	
	width: 568px;
	box-sizing: border-box;
}

.button-drop:hover,
.button-drop:focus {
	background-color: #604e43;
}

.button-drop:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.reservation {
	width: 568px;

	position: absolute;
	top: 293px;
	left: 50%;
	margin-left: -284px;
	z-index: 1;

	padding-top: 30px;

	background-color: #ffffff;
	box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.reservation-form {
	text-transform: inherit;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.reservation-item {
	width: 463px;
	display: flex;
	margin-bottom: 3px;
}

.reservation-item:nth-child(3),
.reservation-item:nth-child(4) {
	width: 230px;
	margin-bottom: 55px;
}

.reservation-item label {
	font-weight: 700;
	width: 97px;
	margin-right: auto;
	padding-top: 8px;
}

.reservation-item input {
	box-sizing: border-box;
	display: inline-block;
	font: inherit;
	font-weight: 700;
	text-transform: inherit;

	background-color: #f2f2f2;
	border: none;

	width: 310px;
	padding: 8px 13px;

	margin-left: auto;
}

.reservation-item:nth-child(3) label {
	padding-right: 35px;
	width: 60px;
}

.reservation-item:nth-child(4) label {
	padding-left: 30px;
	width: 85px;
}

.reservation-item:nth-child(3) input,
.reservation-item:nth-child(4) input {
	width: 38px;
	margin: 0;
} 

.reservation-item input:hover {
	background-color: #ebebeb;
	border: none;
}

.reservation-item input:active,
.reservation-item input:focus {
	outline: 2px solid #e5e5e5;
	background-color: #ffffff;
	outline-offset: -2px;
}

.button-control {
	background-color: #f2f2f2;
	width: 38px;

	border: none;
	background-position: center;
	background-repeat: no-repeat;
	outline: none;
	box-sizing: border-box;
	display: block;
}

.button-calendar {
	padding-left: 1px;
	padding-top: 2px;
	cursor: pointer;
}

.button-calendar path {
	fill: #a9a9a9;
}

.button-calendar:hover path,
.button-calendar:focus path {
	fill: unset;
}

.button-calendar:active path{
	fill: #81b3d2;
}

.button-minus {
	font-size: 30px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.button-plus {
	font-size: 25px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.button-minus:hover,
.button-minus:focus,
.button-plus:hover,
.button-plus:focus {
	color: #000000;
}

.button-minus:active,
.button-plus:active {
	color: #81b3d2;
}

.search-button {
	color: #ffffff;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-transform: inherit;

	background-color: #81b3d2;

	border: none;

	width: 458px;
	padding: 16px 196px;
	margin-bottom: 55px;
	cursor: pointer;
}

.search-button:hover,
.search-button:focus {
	background-color: #669ec0;
}

.search-button:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.filters {
	background-color: #4279a2;
	background-image: url("../img/filter-background.jpg");
	background-position: center;
	background-repeat: no-repeat;

	color: #ffffff;
}

.filters-form {
	display: flex;

	padding-top: 28px;
}

.filters-form input[type="text"] {
	color: #ffffff;
}

.filters-form fieldset {
	border: none;
}

.filters-form legend {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;

	margin-bottom: 17px;
}

.filters-form ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.filter-infrastructure {
	margin-left: 62px;
}

.filter-type {
	margin-left: 95px;
}

.filter-option {
	margin-bottom: 20px;
}

.filter-price {
	margin-left: auto;
}

.filter-right {
	width: 400px;
	margin-left: auto;
}

.filter-price legend {
	margin-bottom: 5px;
}

.price-control {
	width: 315px;
	margin-bottom: 18px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;

	position: relative;
}

.price-control label {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 3px;
	margin-top: 3px;
    padding-left: 65px;
	cursor: pointer;
}

.price-control input {
    width: 50px;
    margin: 0;

    color: inherit;
    font: inherit;

    background: none;
    border: none;

    vertical-align: middle;
}

.price-control::after {
    content: "";
    position: absolute;

    width: 2px;
    height: 22px;

    background: #ffffff;

    top: 5px;
    left: 50%;
    margin-left: -1px;
}

.slider-price {
	position: relative;

}

.slider-range {
	height: 2px;
	width: 317px;

    background: rgba(255, 255, 255, 0.3);
}

.slider-range::before {
	content: "";
	position: absolute;
	width: 252px;
    height: 2px;

    background: #ffffff;
}

.slider-handle {
	padding: 0;
	cursor: pointer;

	width: 20px;
    height: 20px;

    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%; 

    position: absolute;
    top: -9px;
}

.slider-handle-min {
	left: 0;
}

.slider-handle-max {
	left: 252px;
}

.slider-handle:hover {
	width: 22px;
	height: 22px;
	border: 9px solid #ffffff;
}

.button-transparent {
	margin-left: 95px;
	margin-top: 23px;
	padding: 6px 34px;

    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.button-transparent:hover {
	background-color: #ffffff;
	color: #000000;
}

.sort {
	display: flex;
}

.result {
	font-size: 21px;
  	font-weight: 700;
    line-height: 26px;

    margin-left: 72px;
    margin-top: 28px;
    margin-bottom: 30px;
}

.sort-by {
	font-size: 12px;
	line-height: 18px;

	margin-left: 49px;
	margin-top: 34px;
}

.choosing-hotel {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hotels-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.hotel-description {
	display: flex;

	border-top: 1px solid #f2f2f2;
}

.hotel-description:last-child {
	border-bottom: 1px solid #f2f2f2;
}

.hotel-image {
	width: 135px;
	height: 90px;
	margin: 30px 30px 30px 72px;
}

.rating-and-stars {
	margin-left: auto;
}

.hotel-info {
	display: flex;
	flex-direction: column;
}

.hotel-name h3 {
	font-size: 21px;
	font-weight: 700;

	display: block;
	margin-top: 25px;
	margin-bottom: 5px;
}

.hotel-name:hover,
.hotel-name:focus {
	color: #81b3d2;
}

.hotel-name:active {
	color: rgba(0, 0, 0, 0.3);
}

.hotel-type,
.hotel-price {
	color: #333333;
}

.hotel-type,
.button-info {
	display: inline-block;
	vertical-align: middle;
	width: 110px;
}

.hotel-price,
.button-reserve {
	display: inline-block;
	vertical-align: middle;
	width: 143px;
}

.button-info {
	color: #ffffff;
	line-height: 21px;
	font-weight: 700;

	background-color: #81b3d2;

	margin-top: 11px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
}

.button-info:hover,
.button-info:focus {
	background-color: #669ec0;
}

.button-info:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.button-reserve {
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;

	background-color: #766357;

	margin-top: 11px;
	margin-left: 2px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
}

.button-reserve:hover,
.button-reserve:focus {
	background-color: #604e43;
}

.button-reserve:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.hotel-stars {
	margin-top: 30px;
	margin-right: 72px;
	text-align: right;	
}

.hotel-rating {
	display: block;
	width: 111px;

	margin-right: 72px;
	margin-top: 36px;
	padding-top: 3px; 
	padding-bottom: 3px;

	text-align: center;

	line-height: 21px;
	color: #666666;
	background-color: #f2f2f2;
}

.main-footer {
	background-color: rgba(255, 255, 255, 0.9);

	display: flex;
	justify-content: space-between;

	position: absolute;
	bottom: 0;
}

.inner-footer {
	position: relative;
	margin-top: auto;
}

.main-footer div {
	width: 400px;
	text-align: center;
}

.hashtag {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;

	padding-top: 44px;
	padding-bottom: 56px;
}

.social ul {
	list-style: none;

	display: flex;
	margin: 0;
	padding: 0; 
}

.social-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
	margin-top: 34px;
	margin-right: 6px;
}

.social li:first-child {
	margin-left: 124px;
}

.social-button:hover,
.social-button:focus {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}

.social-button:active path {
	opacity: 0.3;
}

.copyright {
	display: flex;
	justify-content: center;
	align-items: center;
}

.copyright-button {
	width: 115px;
	height: 41px;
	margin-left: 8px;
}

.copyright p {
	margin-top: 6px;
}

.copyright-button:hover path,
.copyright-button:focus path {
	fill: #81b3d2;
}

.copyright-button:active path {
	fill: #bdbbbc;
}
