body {
	margin: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;

	background-color: #f2f2f2;
}

.main-container {
	position: relative;

	width: 1200px;
	margin-left: auto;
	margin-right: auto;

	background-color: #ffffff;
	-webkit-box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
	        box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

a {
	text-decoration: none;
	color: #000000;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    	clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
	position: relative;

	font-weight: 700;
}

.main-logo {
	position: absolute;
	left: 50%;
	z-index: 1;

	margin-left: -70px;
}

.site-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0;
	padding: 0;

	list-style: none;
}

.navigation-item {
	width: 239px;
	padding-top: 14px;
	padding-bottom: 15px;

	text-align: center;
}

.navigation-item:nth-child(3) {
	margin-left: 244px;
}

.navigation-item:nth-child(2n) a {
	padding-left: 7px;
}

.navigation-item:nth-child(4n) a {
	padding-left: 15px;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.current a {
	color: #766357;
}

.promo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	position: relative;   
	
	padding-bottom: 80px;

	background-color: #4d3d3d;
	background-image: url("../img/background-photo.jpg");
	background-position: center -83px;
	background-repeat: no-repeat;
}

.promo::after {
	content: "";

	position: absolute;
	bottom: 0;
	left: 0;

	width: 100%;
	height: 58px;

	background-image: url(../img/polygon.svg);
	background-position: bottom center;
	background-repeat: no-repeat;
}

.promo-image {
	padding-top: 76px;
}

.promo-text {

	width: 100%;
	margin-top: 60px;
	text-align: center;

	background-color: #ffffff;
}

.promo-text h2 {
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 9px;

	font-size: 21px;
	font-weight: 700;
}

.promo-text p {
	margin-bottom: 52px;

	font-size: 14px;
	line-height: 26px;
	color: #333333;
}

.first-feature {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	line-height: 21px;
	text-align: center;
	color: #ffffff;

	background-color: #81b3d2;
}

.first-feature h3 {
	margin-top: 47px;
	margin-left: 120px;
	margin-right: 120px;
	margin-bottom: 23px;

	font-size: 21px;
	font-weight: 700;
}

.first-feature p {
	width: 300px;
	margin-top: 21px;
	margin-left: auto;
	margin-right: auto;
}

.features-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0;
	padding: 0;

	line-height: 21px;
	text-align: center;
	list-style: none;
}

.features-list li {
	width: 400px;
}

.features-list h3 {
	margin-top: 161px;
	margin-bottom: 24px;

	font-size: 21px;
}

.features-list p {
	width: 285px;
	margin-left: auto;
	margin-right: auto;

	color: #333333;
}

.features-list li:first-child {
	background-image: url("../img/house-icon.svg");
	background-position: center 60px;
	background-repeat: no-repeat;
}

.features-list li:nth-child(2) {
	background-image: url("../img/food-icon.svg");
	background-position: center 60px;
	background-repeat: no-repeat;
}

.features-list li:last-child {
	background-image: url("../img/souvenir-icon.svg");
	background-position: center 56px;
	background-repeat: no-repeat;
}

.second-feature {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
	margin-top: 67px;

	line-height: 21px;
	text-align: center;
	color: #ffffff;

	background-color: #81b3d2;
}

.second-feature h3 {
	margin-top: 47px;
	margin-left: 124px;
	margin-right: 125px;
	margin-bottom: 23px;

	font-size: 21px;
	font-weight: 700;
}

.second-feature p {
	width: 303px;
	margin-top: 21px;
	margin-left: auto;
	margin-right: auto; 
}

.other-features-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;

	line-height: 21px;
	text-align: center;
	list-style: none;

	background-color: #eeeeee;
}

.other-features-list li {
	width: 400px;
}

.other-features-list h3 {
	width: 150px;
	margin-top: 47px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;

	font-size: 21px;
}

.other-features-list p,
.other-features-list span {
	color: #333333;
}

.other-features-list p {
	width: 261px;
	margin: 21px auto 58px auto;
}

.other-features-list li:last-child p {
	width: 259px;
}

.reserve {
	position: relative;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	background-color: #ffffff;
}

.reserve b {
	padding-top: 52px;

	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
}

.reserve p {
	padding-top: 10px;

	line-height: 24px;
	text-align: center;
	color: #333333;
}

.button-drop {
	width: 569px;
	margin-top: 32px;
	padding: 30px 139px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	font-size: 21px;
	font-weight: 700;
	text-align: center;
	color: #ffffff;

	background-color: #766357;
}

.button-drop:hover,
.button-drop:focus {
	background-color: #604e43;
}

.button-drop:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #503e33;
}

.reservation {
	position: absolute;
	top: 100%;
	left: 50%;

	width: 569px;
	max-height: 0;
	margin-left: -285px;

	background-color: #ffffff;
	-webkit-box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
	        box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);

	-webkit-transition: max-height 0.3s ease-in-out;

	-o-transition: max-height 0.3s ease-in-out;

	transition: max-height 0.3s ease-in-out;
	overflow: hidden;
}

.reservation-show {
	max-height: 395px;
}

.reservation-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding-top: 30px;

	text-transform: inherit;
}

.reservation-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 463px;
	margin-bottom: 3px;
}

.reservation-item:nth-child(3),
.reservation-item:nth-child(4) {
	width: 230px;
	margin-bottom: 55px;
}

.reservation-item label {
	width: 97px;
	margin-right: auto;
	padding-top: 8px;

	font-weight: 700;
}

.reservation-item input {
	display: inline-block;
	width: 310px;
	height: 40px;
	padding: 8px 13px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	vertical-align: middle;

	font: inherit;
	font-weight: 700;
	text-transform: inherit;

	background-color: #f2f2f2;
	border: none;
}

.reservation-item:nth-child(3) label {
	width: 60px;
	padding-right: 35px;
}

.reservation-item:nth-child(4) label {
	width: 85px;
	padding-left: 29px;
}

.reservation-item:nth-child(3) input,
.reservation-item:nth-child(4) input {
	width: 38px;
	margin: 0;
	padding: 8px 4px 6px 4px;

	text-align: center;
}

.reservation-item input:hover {
	background-color: #ebebeb;
	border: none;
}

.reservation-item input:active,
.reservation-item input:focus {
	background-color: #ffffff;
	outline: 2px solid #e5e5e5;
	outline-offset: -2px;
}

.button-control {
	display: block;
	width: 39px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	background-color: #f2f2f2;
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	outline: none;
	cursor: pointer;

	font-size: 25px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.3);
}

.button-calendar {
	padding-left: 1px;
	padding-top: 2px;
}

.button-calendar path {
	fill: #a9a9a9;
}

.button-calendar:hover path,
.button-calendar:focus path {
	fill: unset;
}

.button-calendar:active path{
	fill: #81b3d2;
}

.button-minus:hover,
.button-minus:focus,
.button-plus:hover,
.button-plus:focus {
	color: #000000;
}

.button-minus:active,
.button-plus:active {
	color: #81b3d2;
}

.search-button {
	width: 458px;
	padding: 16px 196px;
	margin-bottom: 55px;

	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;
	text-transform: inherit;

	background-color: #81b3d2;
	border: none;

	cursor: pointer;
}

.search-button:hover,
.search-button:focus {
	background-color: #669ec0;
}

.search-button:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #5496bd;
}

@-webkit-keyframes shake {
	0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  25%,
  75% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }

  50% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
}

@keyframes shake {
	0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  25%,
  75% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }

  50% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
}

.modal-error {
	-webkit-animation: shake 0.3s;
	        animation: shake 0.3s;
}

.filters {
	color: #ffffff;

	background-color: #4279a2;
	background-image: url("../img/filter-background.jpg");
	background-position: center;
	background-repeat: no-repeat;
}

.filters-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 28px;
}

.filters-form input[type="text"] {
	color: #ffffff;
}

.filters-form fieldset {
	border: none;
}

.filters-form legend {
	margin-bottom: 18px;

	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
}

.filters-form ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

.filter-infrastructure {
	margin-left: 62px;
}

.filter-type {
	margin-left: 95px;
}

.filter-option {
	margin-bottom: 20px;
}

.filter-option label {
	position: relative;
	padding-left: 41px;

	cursor: pointer;
}

.filter-infrastructure label {
	padding-left: 39px;
}

.filter-checkbox + label::before {
	content: "";

	position: absolute;
	left: 0;

	width: 27px;
	height: 23px;

	background-image: url(../img/checkbox-off.svg);
	background-position: top left;
	background-repeat: no-repeat;
}

.filter-checkbox:checked + label::before {
	background-image: url(../img/checkbox-on.svg);
}

.filter-checkbox:disabled + label::before {
	opacity: 0.3;
}

.filter-price {
	margin-left: auto;
}

.filter-right {
	width: 400px;
	margin-left: auto;
}

.filter-price legend {
	margin-bottom: 5px;
}

.price-control {
	position: relative;

	width: 315px;
	height: 32px;
	margin-bottom: 19px;

	font-size: 0;

	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-control label {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 3px;
	margin-top: 3px;
    padding-left: 65px;

    font-size: 14px;
}

.price-control input {
    width: 60px;
    height: 30px;
    margin-left: 4px;
    vertical-align: middle;

    color: inherit;
    font: inherit;
    font-size: 14px;

    background: none;
    border: none;
}

.price-control::after {
    content: "";

    position: absolute;
    top: 5px;
    left: 50%;

    width: 2px;
    height: 22px;
    margin-left: -1px;

    background: #ffffff;
 }

.slider-price {
	position: relative;
}

.slider-range {
	width: 317px;
	height: 2px;

    background: rgba(255, 255, 255, 0.3);
}

.slider-range::before {
	content: "";

	position: absolute;

	width: 252px;
    height: 2px;

    background: #ffffff;
}

.slider-handle {
	position: absolute;
    top: -8px;

	width: 20px;
    height: 20px;
	padding: 0;

	background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;

	cursor: pointer;
}

.slider-handle-min {
	left: 0;
}

.slider-handle-max {
	left: 252px;
}

.slider-handle:hover {
	top: -10px;

	width: 22px;
	height: 22px;

	border: 9px solid #ffffff;
}

.button-transparent {
	margin-left: 95px;
	margin-top: 23px;
	padding: 6px 34px;

    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;

    cursor: pointer;
}

.button-transparent:hover {
	color: #000000;

	background-color: #ffffff;
}

.sort {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.result {
	margin-left: 72px;
    margin-top: 28px;
    margin-bottom: 30px;

	font-size: 21px;
  	font-weight: 700;
    line-height: 26px;
}

.sort-by {
	margin-left: 49px;
	margin-top: 35px;

	font-size: 12px;
	line-height: 18px;
}

.choosing-hotel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.sort-by span {
	margin-right: 35px;
}

.sort-by a {
	margin-right: 30px;

	color: rgba(0, 0, 0, 0.3);

	border-bottom: 1px dotted #81b3d2;
}

.sort-by .current-sort {
	color: #81b3d2;

	border-bottom: none;
}

.sort-by a:hover,
.sort-by a:focus {
	color: #81b3d2;
}

.sort-by a:active {
	color: #000000;

	border-bottom: none;
}

.sort-icon {
	margin-top: 30px;
	margin-left: auto;
	margin-right: 72px;
}

.sort-trangle {
	padding-right: 8px;
}

.sort-trangle path {
	fill: #cacaca;
}

.sort-trangle:hover path,
.sort-trangle:focus path {
	fill: #000000;
}

.sort-trangle:active path {
	fill: #81b3d2;
}

.sort-icon a:last-child {
	padding-right: 0;
}

.current-sort path {
	fill: #81b3d2;
}

.hotels-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.hotel-description {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	border-top: 1px solid #f2f2f2;
}

.hotel-description:last-child {
	border-bottom: 1px solid #f2f2f2;
}

.hotel-image {
	width: 135px;
	height: 90px;
	margin: 31px 30px 29px 72px;
}

.rating-and-stars {
	margin-left: auto;
}

.hotel-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;

	font-size: 0;
}

.hotel-name h3 {
	margin-top: 26px;
	margin-bottom: 4px;

	font-size: 21px;
	font-weight: 700;
}

.hotel-name:hover,
.hotel-name:focus {
	color: #81b3d2;
}

.hotel-name:active {
	color: rgba(0, 0, 0, 0.3);
}

.hotel-type,
.button-info {
	display: inline-block;
	width: 110px;
	vertical-align: middle;
}

.hotel-type {
	margin-right: 5px;
}

.hotel-price,
.button-reserve {
	display: inline-block;
	width: 143px;
	vertical-align: middle;
}

.hotel-type,
.hotel-price {
	font-size: 14px;
	color: #333333;
}

.button-info {
	margin-top: 11px;
	margin-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;

	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
	text-align: center;

	background-color: #81b3d2;
	font-size: 14px;
}

.button-info:hover,
.button-info:focus {
	background-color: #669ec0;
}

.button-info:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #5496bd;
}

.button-reserve {
	margin-top: 11px;
	margin-left: 2px;
	padding-top: 3px;
	padding-bottom: 3px;

	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
	text-align: center;

	background-color: #766357;
}

.button-reserve:hover,
.button-reserve:focus {
	background-color: #604e43;
}

.button-reserve:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #503e33;
}

.hotel-stars {
	margin-top: 30px;
	margin-right: 72px;

	text-align: right;
}

.hotel-stars img {
	padding-left: 2px;
}

.hotel-rating {
	display: block;
	width: 110px;
	margin-right: 72px;
	margin-top: 38px;
	padding-top: 3px;
	padding-bottom: 3px;

	line-height: 21px;
	color: #666666;
	text-align: center;

	background-color: #f2f2f2;
}

.main-footer {
	position: absolute;
	bottom: 0;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	background-color: rgba(255, 255, 255, 0.9);
}

.inner-footer {
	position: relative;

	margin-top: auto;
}

.main-footer div {
	width: 400px;

	text-align: center;
}

.hashtag {
	padding-top: 46px;
	padding-bottom: 56px;

	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}

.social ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.social-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 46px;
	height: 48px;
	margin-top: 36px;
	margin-right: 6px;

	background-color: #81b3d2;
}

.social li:first-child {
	margin-left: 124px;
}

.social-button:hover,
.social-button:focus {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}

.social-button:active path {
	opacity: 0.3;
}

.copyright {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.copyright-button {
	width: 114px;
	height: 44px;
	margin-left: 9px;
}

.copyright p {
	margin-top: 6px;
}

.copyright-button:hover path,
.copyright-button:focus path {
	fill: #81b3d2;
}

.copyright-button:active path {
	fill: #bdbbbc;
}
