body {
	margin: 0;

	font-family: "PT Sans", Arial, sans-serif; 
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;

	background-color: #f2f2f2;
}

.main-container {
	box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
	background-color: #ffffff;

	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

a {
	text-decoration: none;
	color: #000000;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.main-navigation {
	font-weight: 700;
	display: flex;
	flex-direction: column;
}

.main-logo {
	position: absolute;
	left: 50%;
	margin-left: -70px;
}

.site-navigation {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.site-navigation li {
	display: block;
	min-width: 239px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 0;
}

.site-navigation li:nth-child(3) {
	margin-left: 244px;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.current a {
	color: #766357;
}

.promo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	background-color: #4d3d3d;
	background-image: url("../img/background-photo.jpg");
	background-position: center -83px;
	background-repeat: no-repeat;
}

.promo-image {
	padding-top: 76px;
}

.promo-text {
	background-color: #ffffff;

	width: 1200px;
	text-align: center;

	position: relative;
	margin-top: 79px;
}

.promo-text::before {
	content: "";

	width: 1200px;
	height: 59px;

	position: absolute;
	top: -59px;
	left: 0;

	background-image: url(../img/polygon.svg);
	background-position: bottom center;
	background-repeat: no-repeat;
}

.promo-text h2 {
	width: 450px;

	margin-left: auto;
	margin-right: auto;
	padding-top: 45px;
	padding-bottom: 8px;

	font-size: 21px;
	font-weight: 700;
}

.promo-text p {
	color: #333333;
	font-size: 14px;
	line-height: 26px;
}

.reserve {
	display: flex;
	flex-direction: column;

	align-items: center;
	position: relative;
}

.reserve b {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;

	padding-top: 53px;
}

.reserve p {
	line-height: 24px;
	color: #333333;
	text-align: center;
	padding-top: 10px;
}

.button-drop {
	font-size: 21px;
	font-weight: 700;
	color: #ffffff;

	background-color: #766357;

	margin-top: 32px;
	padding: 30px 139px;

	display: block;
}

.button-drop:hover,
.button-drop:focus {
	background-color: #604e43;
}

.button-drop:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.reservation {
	width: 568px;

	position: absolute;
	top: 293px;
	z-index: 1;

	padding-top: 30px;

	background-color: #ffffff;
	box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.reservation-form {
	text-transform: inherit;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.reservation-item {
	width: 463px;
	display: flex;
	margin-bottom: 3px;
}

.reservation-item:nth-child(3),
.reservation-item:nth-child(4) {
	width: 230px;
	margin-bottom: 55px;
}

.reservation-item label {
	font-weight: 700;
	display: block;
	width: 97px;
	margin-right: auto;
	padding-top: 8px;
}

.reservation-item input {
	box-sizing: border-box;
	display: inline-block;
	font: inherit;
	font-weight: 700;
	text-transform: inherit;

	background-color: #f2f2f2;
	border: none;

	width: 310px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 13px;

	margin-left: auto;
}

.reservation-item:nth-child(3) label {
	padding-right: 35px;
	width: 60px;
}

.reservation-item:nth-child(4) label {
	padding-left: 30px;
	width: 85px;
}

.reservation-item:nth-child(3) input,
.reservation-item:nth-child(4) input {
	width: 38px;
	margin: 0;
} 

.reservation-item input:hover {
	background-color: #ebebeb;
	border: none;
}

.reservation-item input:active,
.reservation-item input:focus {
	outline: 2px solid #e5e5e5;
	background-color: #ffffff;
}

.button-control {
	background-color: #f2f2f2;
	width: 38px;

	border: none;
	background-position: center;
	background-repeat: no-repeat;
	outline: none;
	box-sizing: border-box;
	display: block;
}

.button-calendar {
	padding-left: 1px;
	padding-top: 2px;
}

.button-calendar path {
	fill: #a9a9a9;
}

.button-calendar:hover path,
.button-calendar:focus path {
	fill: unset;
}

.button-calendar:active path{
	fill: #81b3d2;
}

.button-minus {
	background-image: url("../img/minus.svg");
}

.button-minus:hover,
.button-minus:focus {
	background-image: url(../img/minus-black.svg);
}

.button-minus:active {
	background-image: url(../img/minus-blue.svg);
}

.button-plus {
	background-image: url("../img/plus.svg");
}

.button-plus:hover,
.button-plus:focus {
	background-image: url(../img/plus-black.svg);
}

.button-plus:active {
	background-image: url(../img/plus-blue.svg);
}

.search-button {
	color: #ffffff;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-transform: inherit;

	background-color: #81b3d2;

	border: none;

	width: 458px;
	padding: 16px 196px;
	margin-bottom: 55px;
}

.search-button:hover,
.search-button:focus {
	background-color: #669ec0;
}

.search-button:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.map-image {
	position: absolute;
}

.choosing-hotel {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hotels-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.hotel-description {
	display: flex;

	border-top: 1px solid #f2f2f2;
}

.hotel-description:last-child {
	border-bottom: 1px solid #f2f2f2;
}

.hotel-image {
	width: 135px;
	height: 90px;
	margin: 30px 30px 30px 72px;
}

.hotel-description div:last-child {
	margin-left: auto;
}

.hotel-info {
	display: flex;
	flex-direction: column;
}

.hotel-name h3 {
	font-size: 21px;
	font-weight: 700;

	display: block;
	margin-top: 25px;
	margin-bottom: 5px;
}

.hotel-name:hover,
.hotel-name:focus {
	color: #81b3d2;
}

.hotel-name:active {
	color: rgba(0, 0, 0, 0.3);
}

.hotel-type,
.hotel-price {
	color: #333333;
}

.hotel-type,
.button-info {
	display: inline-block;
	width: 110px;
}

.hotel-price,
.button-reserve {
	display: inline-block;
	width: 143px;
}

.button-info {
	color: #ffffff;
	line-height: 21px;
	font-weight: 700;

	background-color: #81b3d2;

	margin-top: 11px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
}

.button-info:hover,
.button-info:focus {
	background-color: #669ec0;
}

.button-info:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.button-reserve {
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;

	background-color: #766357;

	margin-left: 2px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
}

.button-reserve:hover,
.button-reserve:focus {
	background-color: #604e43;
}

.button-reserve:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.hotel-stars {
	margin-top: 30px;
	margin-right: 72px;
	text-align: right;	
}

.hotel-rating {
	display: block;
	width: 111px;

	margin-right: 72px;
	margin-top: 36px;
	padding-top: 3px; 
	padding-bottom: 3px;

	text-align: center;

	line-height: 21px;
	color: #666666;
	background-color: #f2f2f2;
}

.main-footer {
	background-color: rgba(255, 255, 255, 0.9);

	display: flex;
	justify-content: space-between;

	margin-top: 473px;
	position: relative;
}

.inner-footer {
	margin-top: auto;
}

.main-footer div {
	width: 400px;
	text-align: center;
}

.hashtag {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;

	padding-top: 46px;
	padding-bottom: 50px;
}

.social ul {
	list-style: none;

	display: flex;
	margin: 0;
	padding: 0; 
}

.social-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
	margin-top: 36px;
	margin-right: 6px;
}

.social li:first-child {
	margin-left: 124px;
}

.social-button:hover,
.social-button:focus {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}

.social-button:active path {
	opacity: 0.3;
}

.copyright {
	display: flex;
	justify-content: center;
	align-items: center;
}

.copyright-button {
	width: 115px;
	height: 41px;
	margin-left: 8px;
}

.copyright p {
	margin-top: 13px;
}

.copyright-button:hover path,
.copyright-button:focus path {
	fill: #81b3d2;
}

.copyright-button:active path {
	fill: #bdbbbc;
}
